{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <head>
        <style>
                ul.navigation {
                margin: 0;
                padding: 4px;
                }
                ul.navigation li {
                display: inline;
                margin-right: 5px;
                }
            </style>
    </head>
    <div style="margin: 0px 400px 0px 400px;">
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{form.duble_password.label}}<br>
        {{form.duble_password(class='form-control', type="password")}}<br>
    </p>
    <p>
        {{form.surname.label}}<br>
        {{form.surname(class='form-control')}}<br>
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>

    </p>
    <p>
        {{ form.position.label }}<br>
        {{ form.position(class="form-control") }}<br>
    </p>
    <p>
        {{ form.speciality.label }}<br>
        {{ form.speciality(class="form-control") }}<br>
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
    </p>
        <div style="display: inline-block;"><p>{{form.submit(type="submit", class="btn btn-primary")}} <- нажми на нее :)</p></div></div>
</form>
{% endblock %}